@model Historyexams.Models.Cauhoi

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 style="margin-left:10px;">Xóa câu hỏi</h1>

<h3 style="margin-left:10px;">Bạn có chắc chán muốn xóa không</h3>

<section class="content">
    <div class="card">
        

        <div class="bs-stepper-content card-body">
            @using (Html.BeginForm("Delete", "Cauhois", FormMethod.Post, new { }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false)

                <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Ngaytao" />
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="">Mã câu hỏi</label>
                            @Html.TextBoxFor(x => x.Macauhoi, new { @class = "form-control", @plachilder = "Tên danh mục" })
                            @Html.ValidationMessageFor(x => x.Macauhoi, null, new { @class = "text-danger" })
                        </div>


                        
                        
                    </div>

                    <div class="form-group">
                        <label for="">Nội dung câu hỏi</label>
                        @Html.TextAreaFor(x => x.Noidung, new { @class = "form-control" })
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="">phương án A</label>
                            @Html.TextAreaFor(x => x.PaA, new { @class = "form-control" })
                        </div>

                        <div class="form-group col-md-6">
                            <label for="">phương án B</label>
                            @Html.TextAreaFor(x => x.PaB, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="">phương án C</label>
                            @Html.TextAreaFor(x => x.PaC, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">phương án D</label>
                            @Html.TextAreaFor(x => x.PaD, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">phương án đúng</label>
                        @Html.TextBoxFor(x => x.PaDung, new { @class = "form-control" })
                    </div>


                    <div class="form-group">
                        <label for="">Hiển thị</label>
                        @Html.CheckBoxFor(x => x.Isactive)
                        @Html.ValidationMessageFor(x => x.Isactive, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-danger">Quay lại</a>
                        <input type="submit" value=" Xóa" class="btn btn-primary" />
                    </div>
                </div>
            }
            <!-- /.card -->
        </div>
    </div>
</section>