@model IEnumerable<Historyexams.Models.Tkdt>

@{
    ViewData["Title"] = "Tài khoản- đề thi";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý @ViewBag.Title  </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="card">
        <div class="card-header">
           
            <div class="row card-tools">
                <form action="" method="get" class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="keyword">Tìm theo tên loại</label>
                        <input class="form-control" name="title" id="keyword" placeholder="Nhập tên cần tìm" value="@ViewBag.keyword">
                    </div>
                    <button type="submit" class="btn btn-default mr-1"><i class="fas fa-search"></i></button>

                </form>
                <div>
                    <a asp-action="Create" class="btn btn-primary">Thêm mới  </a>
                    <a class="btn btn-danger" id="BtnDeleteAll">Xóa</a>
                </div>

            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>
                           Lần 
                        </th>
                        <th>
                          Tỷ lệ 
                        </th>
                        <th>
                          Ngày thi
                        </th>
                        <th>Chức năng</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = 1;
                        foreach (var item in Model)
                        {
                              <tr id="trow_@item.Id">

                                <td>
                                    @Html.DisplayFor(modelItem => item.Lan)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tyle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ngaythi)
                                </td>
                                <td class="btn-action">
                                    <a asp-action="Edit" asp-route-id="@item.Id">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </a>|
                                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-info"></i></a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-regular fa-trash-can"></i></a>

                                </td>
                                <td><input type="checkbox" class="cbkItem" value="@item.Id" /></td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Không có bản ghi nào </td>
                        </tr>
                    }
                </tbody>
            </table>

           
        </div>
    </div>
</section>



@section scripts {
    <script src="~/js/Checkbox.js"></script>
    <script>
        var baseUrl = '/admins/Tkdts/deleteAll';
       
    </script>
}
<style>
    tr{
        display:block;
    }
</style>