@model Historyexams.Models.Taikhoan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Chi tiết </h1>
<style>
    h4 {
        margin-left: 20px;
        padding-top: 10px;
    }

    h1 {
        padding-left: 5%;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    dl.row {
        margin: 5px;
        padding: 10px;
    }

    dt.col-sm-2, dd.col-sm-10 {
        margin: 10px 0;
    }

    .container {
        background: white;
        border-radius: 20px;
    }

    .button {
        margin-left: 6%;
        margin-top: 15px;
    }
</style>
<div class="container">
    <h4>Tài khoản</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Mã tài khoản
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mataikhoan)
        </dd>
        <dt class = "col-sm-2">
          Họ và tên
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hoten)
        </dd>
        <dt class = "col-sm-2">
            Mật khẩu
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Matkhau)
        </dd>
        <dt class = "col-sm-2">
           Điện thoại
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dienthoai)
        </dd>
        <dt class = "col-sm-2">
          Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            Giới tính
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gioitinh)
        </dd>
        <dt class = "col-sm-2">
         Địa chỉ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diachi)
        </dd>
        <dt class = "col-sm-2">
         Ngày tạo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaytao)
        </dd>
        <dt class = "col-sm-2">
        Người tạo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nguoitao)
        </dd>
        <dt class = "col-sm-2">
           Ngày sửa
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaysua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isactive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isactive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isdelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isdelete)
        </dd>
    </dl>
</div>
<div class="button">
    <a asp-action="Edit" class="btn btn-danger" asp-route-id="@Model.Id">Sửa</a>
    <a asp-action="Index" class="btn btn-success">Quay lại</a>

</div>