@model Historyexams.Models.Baitest

@{
    ViewData["Title"] = "Bài test";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm mới bài test</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Danh mục</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="card">
      @*   <div class="card-header">
        </div> *@

        <div class="bs-stepper-content card-body">
            @using (Html.BeginForm("Create", "Baitests", FormMethod.Post, new { }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false)
                

                <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="">Mã bài test</label>
                            @Html.TextBoxFor(x => x.Mabaitest, new { @class = "form-control", @plachilder = "Tên danh mục" })
                            @Html.ValidationMessageFor(x => x.Mabaitest, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            <label for="">Id User </label>
                            @Html.TextBoxFor(x => x.Iduser, new { @class = "form-control" })
                        </div>
                        
                    </div>

                    <div class="form-group ">
                        <label for="Tenbaitest">Tên bài test</label>
                        @Html.TextAreaFor(x => x.Tenbaitest, new { @class = "form-control" })
                    </div>

                    @* <div class="form-group">
                        <label for="">Người tạo</label>
                        @Html.TextBoxFor(x => x.Nguoitao, new { @class = "form-control" })
                    </div>

                     *@
                    <div class="form-group">
                        <label for="">Hiển thị</label>
                        @Html.CheckBoxFor(x => x.Isactive)
                        @Html.ValidationMessageFor(x => x.Isactive, "", new { @class = "text-danger" })
                    </div>
                   @*  <div class="form-group">
                        <label for=""> Isdelete</label>
                        @Html.TextBoxFor(x => x.Nguoitao, new { @class = "form-control" })
                    </div> *@

                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-danger">Quay lại</a>
                        <input type="submit" value=" Create" class="btn btn-primary" />
                    </div>
                </div>
            }
            <!-- /.card -->
        </div>
    </div>
</section>
@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
